---
import { getI18N } from "@/i18n";
import KitITEM from "@/components/KitITEM.astro";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section class="flex flex-col items-center justify-center p-4 overflow-hidden">
  <h2 class="text-4xl font-bold mb-14 mt-4">{i18n.Pon_KIT_TITLE}</h2>
  <div class="flex flex-col gap-16 lg:flex-row lg:gap-8">
    <KitITEM
      title={i18n.Pon_KIT_SUBTITLE_1}
      download={i18n.DOWNLOAD_BUTTON}
      image="/pon-page/acces-ponencies.webp"
      link="https://drive.google.com/file/d/1OxNp82_Wrx28GuDQFBN_OBdzZvkB-OVM/view?usp=drive_link"
    />
    <KitITEM
      title={i18n.Pon_KIT_SUBTITLE_2}
      download={i18n.DOWNLOAD_BUTTON}
      image="/pon-page/auditori.webp"
      link="https://drive.google.com/file/d/1WdHQogr2SBC8Mx0dLrtCaUJ3M-Ba7xDi/view?usp=drive_link"
    />
    <KitITEM
      title={i18n.Pon_KIT_SUBTITLE_3}
      download={i18n.DOWNLOAD_BUTTON}
      image="/pon-page/polivalent.webp"
      link="https://drive.google.com/file/d/1eYAGOcDcdQfXX5FiIU9eUyuKobNDjcKv/view?usp=drive_link"
    />
  </div>
</section>
